# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
browser = Browser('chrome')

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [3]:
# Visit the website
url = 'https://static.bc-edx.com/data/web/mars_facts/temperature.html'
browser.visit(url)
html = browser.html

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [4]:
# Create a Beautiful Soup Object
table_soup = soup(html, 'html.parser')

In [5]:
# Extract all rows of data
table_rows = table_soup.find_all('tr', class_='data-row')

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [6]:
# Create an empty list
table_list = []

# Loop through the scraped data to create a list of rows
for row in table_rows:
    
    # Extracting all data points in a row
    all_row_data = row.find_all('td')
    all_row_data = [data_point.text for data_point in all_row_data]
         
    # Store data points in a dictionary
    row_dict = {"id": all_row_data[0],
                "terrestrial_date": all_row_data[1],
                "sol": all_row_data[2],
                "ls": all_row_data[3],
                "month": all_row_data[4],
                "min_temp": all_row_data[5],
               "pressure": all_row_data[6]} 
    
    # Add the dictionary to the list
    table_list.append(row_dict)

In [7]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
table_df = pd.DataFrame(table_list)

In [8]:
# Confirm DataFrame was created successfully
table_df.head(10)

    id terrestrial_date sol   ls month min_temp pressure
0    2       2012-08-16  10  155     6    -75.0    739.0
1   13       2012-08-17  11  156     6    -76.0    740.0
2   24       2012-08-18  12  156     6    -76.0    741.0
3   35       2012-08-19  13  157     6    -74.0    732.0
4   46       2012-08-20  14  157     6    -74.0    740.0
5   57       2012-08-21  15  158     6    -78.0    740.0
6   68       2012-08-22  16  158     6    -77.0    740.0
7   79       2012-08-23  17  159     6    -76.0    742.0
8  112       2012-08-27  21  161     6    -74.0    741.0
9  114       2012-08-28  22  162     6    -74.0    742.0

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [22]:
# Examine data type of each column
table_df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   object
 1   terrestrial_date  1867 non-null   object
 2   sol               1867 non-null   object
 3   ls                1867 non-null   object
 4   month             1867 non-null   object
 5   min_temp          1867 non-null   object
 6   pressure          1867 non-null   object
dtypes: object(7)
memory usage: 102.2+ KB

In [25]:
# Change data types for data analysis
table_df = table_df.astype({'sol': int,
                           'ls': int,
                           'month': int,
                           'min_temp': float,
                           'pressure': float})
table_df['terrestrial_date']= pd.to_datetime(table_df['terrestrial_date'])

In [26]:
# Confirm type changes were successful by examining data types again
table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   object
 1   terrestrial_date  1867 non-null   datetime64[ns]
 2   sol               1867 non-null   int32
 3   ls                1867 non-null   int32
 4   month             1867 non-null   int32
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(3), object(1)
memory usage: 80.3+ KB

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [12]:
# 1. How many months are there on Mars?

In [13]:
# 2. How many Martian days' worth of data are there?

In [14]:
# 3. What is the average low temperature by month?

In [15]:
# Plot the average temperature by month

In [16]:
# Identify the coldest and hottest months in Curiosity's location

In [17]:
# 4. Average pressure by Martian month

In [18]:
# Plot the average pressure by month

In [19]:
# 5. How many terrestrial (earth) days are there in a Martian year?

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [20]:
# Write the data to a CSV

In [21]:
browser.quit()